
body,html{
	height: 100%;
}

h1,h2,h3,h4,h5,h6{
	font-family: "schoolbook-web",serif;
}

h1{
	font-size: 38px;
}
h2{
	font-size: 32px;
	line-height: 38px;
}


@media (min-width: 30em) {
	.row { width: 100%; display: table; table-layout: fixed; }
	.col { display: table-cell; }
}


.row section{
	height:500px;
	width: 100%;
	text-align: center;
	//overflow: hidden;
	//background: #eee;
	//border: 1px solid #ddd;
}

.centered-div{
	position: relative;
}


// container

.container{
	overflow: hidden;
}
// home
#home{
	background: url(../img/home.jpg);
	background-size: auto 100%;
	background-size: cover;
	// background-position: 50% 50%;
	height: 680px;
	position: relative;
	#arrow{
		position: absolute;
		width: 100%;
		bottom: 10px;
		left: 0px;
		span{
			color: #fff !important;
			font-size: 40px;
			position: relative;
			-webkit-animation: flashArrow 2s infinite;
			-moz-animation:    flashArrow 2s infinite;
			-o-animation:      flashArrow 2s infinite;
			animation:         flashArrow 2s infinite;
		}
	}
}

@-webkit-keyframes flashArrow {
	0%   { opacity: 0; bottom:20px; }
	40%  { opacity: 0; bottom:20px;}
	50%  { opacity: 1; bottom:20px;}
	70%  { opacity: 1; bottom:10px;}
	90%  { opacity: 0; bottom:10px;}
	100% { opacity: 0; bottom:10px}
}

@keyframes flashArrow {
	0%   { opacity: 0; bottom:50px; }
	50%  { opacity: 1; bottom:50px;}
	60%  { opacity: 1; bottom:50px;}
	70%  { opacity: 1; bottom:10px;}
	80%  { opacity: 0; bottom:10px;}
	100% { opacity: 0; bottom:10px}
}

@-o-keyframes flashArrow {
	0%   { opacity: 0; bottom:50px; }
	50%  { opacity: 0; bottom:50px;}
	60%  { opacity: 1; bottom:50px;}
	70%  { opacity: 1; bottom:10px;}
	80%  { opacity: 0; bottom:10px;}
	100% { opacity: 0; bottom:10px}
}

@-moz-keyframes flashArrow {
	0%   { opacity: 0; bottom:50px; }
	50%  { opacity: 1; bottom:50px;}
	60%  { opacity: 1; bottom:50px;}
	70%  { opacity: 1; bottom:10px;}
	80%  { opacity: 0; bottom:10px;}
	100% { opacity: 0; bottom:10px}
}

//about
#about{
	background: #977144;
	color: #fff;
	height: 600px;
	position: relative;
	opacity: 0;
	.centered-div{
		max-width: 580px;
		margin: 0 auto;
		opacity: 0;
	}
	.gap-helper{
		width: 100%;
		height: 10px;
		background: #977144;
		position: absolute;
		bottom:-5px;
		left: 0px;

	}
}

// video

#video{
	margin: 0px;
	padding: 0px;
	background: none;
	position: relative;
	opacity: 0;
	video{
		//background: url(../img/video.png);
		width:100%;
		height: auto;
		z-index: 100;
		margin: 0px;
		padding: 0px;
	}
	.centered-div{
	}
	.gap-helper{
		width: 100%;
		height: 10px;
		background: #F7F7F9;
		position: absolute;
		bottom:0px;
		left: 0px;
	}
}

.spaced{
	width: 100%;
	outline: 1px solid blue;
	height: 400px;
	position: relative;
}
.trigger{
	width: 100%;
	height: 1px;
	background: none;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
// products
.col2{
	width: 40%;
	display: inline-block;
	vertical-align: text-top;
}
#products-container{
	position: relative;
}
#container-scroll{

	height: 720px;
	margin: 0 auto;
	background: #F7F7F9;;
	text-align: center;

		.product-image{
			img{
				max-width: 450px;
				margin: 0 auto;
			}
		}

		h2{
			font-size: 16px;
			text-transform: uppercase;
			color: #333;
		}
		h3{

			max-width: 400px;
			font-size: 24px;
			line-height: 30px;
			margin: 20px auto 40px auto;
			color: #333;
		}
		.price{
			p{
				font-family: "schoolbook-web",serif;
				font-style: italic;
				font-size: 16px;
				color:#999;
			}
		}
		.shop-btn{
			background: #bbb;
			border-bottom: 1px solid #999;
			color: #fff;
			font-family: 'helvetica', sans-serif;
			width: 200px;
			height: 42px;
			text-align: center;
			line-height: 42px;
			text-transform: uppercase;
			border-radius: 2px;
			margin: 20px auto 50px auto;
			p{
				font-weight: normal;
				font-size: 14px;
				position: relative;
				letter-spacing: 1px;
				top: 1px;
				&:hover{
					cursor: pointer;
				}
			}
		}
	}


// #products::-webkit-scrollbar { 
// 	display: none; 
// }

// about 2
#about2{
	background: url(../img/about2.jpg);
	background-size: cover;
	height: 600px;
	opacity: 0;
	.centered-div{
		opacity: 0;
	}
	.max-width{
		h2{
			max-width: 500px;
			color: #fff;
			margin: 0 auto;
			font-size: 32px;
			line-height: 38px;
			opacity: 0;
		}
	}
}


// TEST SCROLLING
#container-scroll{
	position: relative;

}



.scroll-row{
	position: relative;
}
.item-row{
	position: absolute;
	top:100px;
	left:0px;
}
#trigger1,#trigger2, #trigger3{
	position: absolute;
	width: 100%;
	height: 1px;
	// background: red;
}
#trigger1{
	top:600px;
}
#trigger2{
	top:1500px;
}

#trigger3{
	top:2400px;
}


.bottom-space{
	height: 1000px !important;
}
#right-spacer{
	height: 310px !important;
}

.scroller::-webkit-scrollbar { 
	display: none; 
}
.trigger{
	position: absolute;
	width: 100%;
	height: 5px;
	//background: blue;
	bottom: 0px;
}

#row1, #row2, #row3{
	width: 100%;
	display: block;
}
#right-side, #right-side2, #right-side3{
	opacity: 0;
	position: relative;
	top:-60px;
	vertical-align: top !important;
	h2{
		font-size: 14px !important;
		color: #999;
		letter-spacing: 1px;
	}
}
#container-scroll{
	height: 600px;
	width: 100%;
	overflow-y:hidden;
	background: #f7f7f7;

	.column{
		width: 40%;
		margin: 0px 20px;
		display: inline-block;
		vertical-align: top;
	}
	.inside-scroll{

	}

	.spacers{
		width: 100%;
		//outline: red 1px solid;
		height: 350px;
		z-index: 10000;
		position: relative;
	}
	#first{
		height: 150px;
	}

	#pin, #pin2, #pin3{
		img{
			max-width: 100%;
			margin: 0 auto;
			position: relative;
			top: -140px;
			display: block;
		}
		opacity: 0;
	}


}

// real scrolling
.scroller{
	overflow-y:scroll;
	margin: 0 auto;
	position: relative;
	top:0px;
	width: 700px;
	height: 650px;
	padding-top: 50px;
	box-sizing:border-box;

}
#item-container{
	position: absolute;
	width: 800px;
	height: 400px;
	top:60px;
	left:190px;
	z-index: 10000;
}
.item-row{
	.column{
		width: 40%;
		margin: 0px 20px;
		display: inline-block;
		vertical-align: top;
	}
	img{
		max-width: 300px;
		margin: 0 auto;
		position: relative;
		top:-100px;
		display: block;
	}
}

// .right-description 	

// show now

#shop-now{
	background: #977144;
	color:#fff;
	opacity: 0;
	h1{
		font-size: 48px;
		margin-bottom: 12px;
	}
	p{
		font-family: 'helvetica', sans-serif;
		font-size: 16px;
		font-weight: 300;
	}
	.shop-top{
		opacity: 0;
	}
	.shop-btn{
		background: #fff;
		color: #555;
		font-family: 'helvetica', sans-serif;
		width: 165px;
		height: 42px;
		text-align: center;
		line-height: 42px;
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
		border-radius: 2px;
		margin: 20px auto 50px auto;
		p{
			font-weight: normal;
			font-size: 14px;
			position: relative;
			top: 1px;
			letter-spacing: 1px;
			&:hover{
				cursor: pointer;
			}
		}
	}
	h3{
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 14px;
		font-weight: 100;
	}
	.share{
		opacity: 0;
		ul{
			text-align: center;
			margin: 20px auto 40px auto;
			li{
				width:40px;
				height: 40px;
				line-height: 40px;
				background: white;
				text-align: center;
				display: inline-block;
				border-radius: 20px;
				margin: 0px 6px;
				&:hover{
					cursor: pointer;
				}
				span{
					color: #977144 !important;
					font-size: 24px;
					position: relative;
					top: 6px;

				}
				.fa-twitter{
					left:2px;
				}
				
			}
		}
	}

}


// petra
#petra{
	img{
		margin: 50px auto;
		display: block;
		opacity: 0;
		display: none;
		position: relative;
		left: -19px;

	}
}

// toggle section
#toggle-section{
	width: 100%;
	background: white;
	padding: 20px 0px;
	color: #B7B7B7;
	h3{
		text-transform: uppercase;
		letter-spacing: 1px;
		font-family: "helvetica", sans-serif;
		text-align: center;
		font-size: 14px;
		text-decoration: underline;
		&:hover{
			cursor: pointer;
		}
	}
}
// nav

#mobile-menu{
	font-size: 26px;
	color: #fff !important;
	padding:10px;
	position: fixed;
	top:-60px;
	left:20px;
	transition: 0.3s all;
	z-index: 1;
	&:hover{
		cursor: pointer;
	}
}

.active-menu-btn{
	top:20px !important;
}

nav{
	text-align: center;
	img{
		display: block;
		margin: 0 auto;
	}
	ul{
		display: block;
		text-align: center;
		margin: 10px auto ;
		li{
			display: inline-block;
			margin: 0px 10px;
			font-family: "schoolbook-web",serif;
			font-size: 13px;
			letter-spacing: 2px;
			color: #333;
			&:hover{
				cursor: pointer;
			}

		}
	}
}

#exit{
	position: fixed;
	top:-40px;
	left: 25px;
	font-size: 22px;
	color: #aaa;
	padding:10px;
	z-index: 100000;
	transition:0.3s all;
	&:hover{
		cursor: pointer;
	}

}
.active-exit{
	top:0px !important;
}
#drop-menu{
	text-align: center;
	background: rgba(255,255,255,0.9);
	position: fixed;
	top:-60px;
	left:0px;
	width: 100%;
	height: 42px;
	line-height: 42px;
	z-index: 100;
	transition: 0.3s all;



	ul{
		display: block;
		text-align: center;
		li{
			display: inline-block;
			margin: 0px 10px;
			font-family: "schoolbook-web",serif;
			font-size: 13px;
			letter-spacing: 2px;
			color: #333;
			&:hover{
				cursor: pointer;
			}

		}
	}
}

.active-drop-menu{
	top:0px !important;
}


